<app-logo-header *ngIf="isUserAuthorized()"></app-logo-header>
<app-navigation *ngIf="isUserAuthorized()"></app-navigation>

<router-outlet>
<!--<div class="container-fluid pt-5">
    <div class="row px-xl-5">

        <!-- Shop Start -->
        <!-- <div class="col-lg-3 col-md-12">
            <app-filters></app-filters>
        </div> 

        <div class="col-lg-9 col-md-12">
            <app-product-list></app-product-list>
        </div>
       
    <!-- Shop End 
    </div>
</div>-->
</router-outlet>
<app-footer *ngIf="isUserAuthorized()"></app-footer>

